{% extends "0_base/base1.html" %}
{% load static %}
{% load i18n %}
{% block title %}
    cafecode Login
{% endblock title %}
{% block background %}
    id="home" class="bg-account"
{% endblock background %}
{% block content %}

    <!-- Wallpaper -->
    <div class="sheet">
        <div class="wallpaper">
            <div class="row">
                <div class="wp-card col-sm-6 col-lg-4">
                    <!-- nothing here - delete the Card! -->
                    <h3>{% trans "Customer" %}</h3>
                    <h6>{% trans "If you forgot your password, change it" %}</h6>
                    <div class="card card-bg0">
                        <div class="card-body">
                            <div class="px-4 pt-2">
                                <p>{% trans "Password reset email sent" %}</p>
                                <hr class="dotted">
                                <p>{% trans "We have emailed you instructions on how to set your password if an account exists with the email address you entered. You should receive them shortly If you do not receive an e-mail, please make sure that you have entered the address you registered with and check your spam folder" %}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wp-logo col-sm-6 col-lg-8">
                    <!-- nothing here -->
                </div>
            </div>
            <div class="arrow-holder">
                <div id="arrow" class="bounce">
                    <i class="fas fa-chevron-down fa-2x"></i>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
