{% extends "0_base/base1.html" %}
{% load static %}
{% load i18n %}
{% block title %}
    cafecode Login
{% endblock title %}
{% block background %}
    id="home" class="bg-account"
{% endblock background %}
{% block content %}

    <!-- Wallpaper -->
    <div class="sheet">
        <div class="wallpaper">
            <div class="row">
                <div class="wp-card col-sm-6 col-lg-4">
                    <!-- nothing here - delete the Card! -->
                    <h3>{% trans "Customer" %}</h3>
                    <h6>{% trans "If you forgot your password, change it" %}</h6>
                    <div class="card card-bg0">
                        <div class="card-body">
                            <p>{% trans "Enter your email to receive the password reset instructions:" %}</p>
                            <form action="#" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form.email }}
                        </div>
                        <div class="card-footer">
                            <input class="btn btn-primary" type="submit" value="{% trans "Submit" %}">
                        </div>
                        </form>
                    </div>
                </div>
                <div class="wp-logo col-sm-6 col-lg-8">
                    <!-- nothing here -->
                </div>
            </div>
            <div class="arrow-holder">
                <div id="arrow" class="bounce">
                    <i class="fas fa-chevron-down fa-2x"></i>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
